<mat-nav-list>
  <div class="profile-card">
    <img src="./../../../assets/images/Capture.PNG" alt="display-picture">

    <div class="header">
      <h2 id="name">Sunny Vakil</h2>
      <h4>sunnyshh45@gmail.com</h4>
    </div>
    
  </div>
<mat-divider></mat-divider>

<h2 matSubheader>Pages</h2>

<a mat-list-item routerLinkAvtive="list-item" routerLink="/">Dashboard</a>
<a mat-list-item routerLinkAvtive="list-item" routerLink="/posts">Posts</a>
<a mat-list-item routerLinkAvtive="list-item" routerLink="/articles">Articles</a>

<mat-divider></mat-divider>

<h2>Tools</h2>

<a mat-list-item routerLinkAvtive="list-item" routerLink="/contacts">
  <mat-icon>contacts</mat-icon> &nbsp; Contacts
</a>

<a mat-list-item routerLinkAvtive="list-item" routerLink="/">
  <mat-icon>contact_phone</mat-icon>  &nbsp; Leads
</a>

</mat-nav-list>
